<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>


    <title>simple service site</title>
</head>
<body>
    <div class="container">
        <h2>WELCOMING - very first page...</h2>
        <div class="container-fluid">
            <% services.forEach(service =>{ %>
                <div class="service-container mt-4">
                  <h4><%= service.servPro %></h4>
                  <p class="mb-1"><%= service.servInfo %></p>
                  <small><%= service.owner %></small>
                  <small><%= service.tel %></small>
                </div>
            <% }) %> 
        </div>
    </div>
    
</body>
</html>